html, body{
    margin: 0;
    padding: 0;
}

*{
    position: relative;
    box-sizing: border-box;
    -webkit-print-color-adjust: exact;
}

.none{
    display: none !important;
}

.black{
    color: black !important;
    border: 1px solid black !important;
    box-shadow: 0 0 7px black !important;
}