.alert{
    position: fixed;
    z-index: 999;
    bottom: 20px;
    right: 70px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 7px #ccc;
}