.days-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.year{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
}

.year-title{
    padding-right: 10px;
}

.day{
    display: inline-block;
    width: 9px;
    height: 9px;
    background: white;
    border: 1px solid #888;
    margin: 0 1px;
}

.day:hover{
    border-color: #0E59E0;
    box-shadow: 0 0 3px #0E59E0;
}

.half-year-wrap{

}

.half-year{
    height: 10px;
    display: flex;
}

.half-year:hover{
    background: #ddd;
}

.ended{
    background: #ccc;
}

.current{
    background: #f00;
    box-shadow: 0 0 3px #f00;
}