.input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input input{
    margin: 10px 0;
}

.input h2{
    width: 250px;
    text-align: center;
}

.input span{
    width: 250px;
    text-align: right;
}

.go{
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;

    text-decoration: none;
    color: #ccc;
}

.go:hover{
    background: #3d3d3d;
}

/* @TODO: fix this to normal animation */
.go:active{
    margin-top: 11px;
}