
.icon-github:before { content: '\e800'; } /* '' */
.icon-idea:before { content: '\e801'; } /* '' */
.icon-loader1:before { content: '\e802'; } /* '' */
.icon-loader2:before { content: '\e803'; } /* '' */
.icon-download:before { content: '\e804'; } /* '' */
.icon-save:before { content: '\e805'; } /* '' */